@model IEnumerable<FoodCourtSystem.Models.ProductModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="../../Content/UI/Menu.css" />
}


<h2>Menu</h2>

<form asp-controller="Menu" asp-action="Search">
    <p>
        <input type="text" name="SearchString" value="Tên món">
        <input type="submit" value="Tìm kiếm" />
    </p>
</form>
<div class="food-list">
    @foreach (var item in Model)
    {
        string imgPath = "../../Image/" + item.ImageName;
        <div class="food-item card" style="width: 20rem;">
            <div class="card">
                <img class="card-img-top" src="@imgPath" alt="Image not found" />
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">@Html.DisplayFor(modelItem => item.Name)</h4>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.UnitPrice)</p>
                    <a class="btn btn-success addButton" href="@Url.Action("AddToCart","Cart", new { productId = item.ID })">Add to cart</a>
                </div>
            </div>
        </div>
    }
</div>
