@model IEnumerable<FoodCourtSystem.Models.ProductModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    @foreach (var item in Model)
    {
        string imgPath = "~/Image/" + item.ImageName + ".jpg";
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="list-group-image img-fluid" src="~/Image/bunrieucua.jpg" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">@Html.DisplayFor(modelItem => item.Name)</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">@Html.DisplayFor(modelItem => item.UnitPrice)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="@Url.Action("Index","Home")">Add to cart</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    }
</div>
