.nav-brand {
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.navbar-modification {
    background-color: black;
}

.search-form-control {
    width: 600px;
}

#input-control {
    width: 70%;
    height: 80%;
}

.home {
    margin: 10px;
    color: white;
}

    .home:hover {
        background-color: black;
    }

.infomation {
    margin: 10px;
}

    .infomation:hover {
        background-color: black;
    }

.nav-btn {
    background-color: black;
    color: white;
    padding: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .nav-btn:hover {
        background-color: black;
    }
