
@{
    ViewBag.Title = "ViewAllAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách thành viên</h2>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Email
        </th>
        <th>
            Vai trò
        </th>
            
        <th>
        </th>
    </tr>

    <tr>
        <td>1234155</td>
        <td>ekkojayce3108@gmail.com</td>
        <td>
            Khách hàng
        </td>
        <td>
            <button type="button" class="btn btn-primary dropbtn" style="height: 1rem;text-align:center">Đổi vai trò</button>
            <div class="dropdown-content">
                <a>Khách hàng</a>
                <a>Chủ quầy</a>
                <a>Đầu bếp</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>3424251</td>
        <td>ekkojayce3109@gmail.com</td>
        <td>
            Khách hàng
        </td>
        <td>
        <td>
            <button type="button" class="btn" style="height: 1rem;text-align:center">Đổi vai trò</button>
            <div class="dropdown-content">
                <a>Khách hàng</a>
                <a>Chủ quầy</a>
                <a>Đầu bếp</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>12234124</td>
        <td>ekkojayce3110@gmail.com</td>
        <td>
            Khách hàng
        </td>
        <td>
        <td>
            <button type="button" class="btn" style="height: 1rem;text-align:center">Đổi vai trò</button>
            <div class="dropdown-content">
                <a>Khách hàng</a>
                <a>Chủ quầy</a>
                <a>Đầu bếp</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>224151514</td>
        <td>adminK2L@gmail.com</td>
        <td>
            Admin
        </td>
        <td>
        <td>
            <button type="button" class="btn" style="height: 1rem;text-align:center">Đổi vai trò</button>
            <div class="dropdown-content">
                <a>Khách hàng</a>
                <a>Chủ quầy</a>
                <a>Đầu bếp</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>121345555</td>
        <td>vendorownerK2L@gmail.com</td>
        <td>
            Chủ quầy
        </td>
        <td>
        <td>
            <button type="button" class="btn" style="height: 1rem;text-align:center">Đổi vai trò</button>
            <div class="dropdown-content">
                <a>Khách hàng</a>
                <a>Chủ quầy</a>
                <a>Đầu bếp</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>1234155</td>
        <td>cookK2L@gmail.com</td>
        <td>
            Đầu bếp
        </td>
        <td>
        <td>
            <button type="button" class="btn" style="height: 1rem;text-align:center">Đổi vai trò</button>
            <div class="dropdown-content">
                <a>Khách hàng</a>
                <a>Chủ quầy</a>
                <a>Đầu bếp</a>
            </div>
        </td>

    </tr>
</table>
